# Cocos Creator
/local/*
!/local/local.json
/library
/temp
/build
/settings/v2/packages/builder.json
*.log

# Editor-specific
.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/